@import "variables.scss";

body{
  background-color: $accentColor;

  
}



a {
  text-decoration: none;
  color: #fff;
}

@mixin setTitle {
  font-size: bigButtonSize;
  font-weight: 700;
  color: red;
}

.mainTitle{
  @include setTitle;
}
