@import "variables.scss";

.productComponent {
    background-color: $accentColor;
}

.productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 2em;
    gap: 1em;
}